body {
    margin: 0;
}

.header{
    height: 400px;
    background-color: #1F2937;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.footer{
    height: 50px;
    background-color: #1F2937;
}
#header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}   
ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}
a{
    text-decoration: none;
    color:#E5E7EB;
}
#content{
    display: flex;
    margin: 16px;
  
}
#hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
#hero-secondary{
    font-size: 18px;
    color: #E5E7EB
}
#right-side{
    display: flex;
    align-self: flex-start;
    width: 300px;
    height: 200px;
}
.upper-image{
    width: 100%;
    height: 100%;
}
.button{
    background-color: #3882F6;
    color:#F9FAF8;
    text-align: center;
    border-radius: 12%;
    padding: 10px;
    margin: 10px;
    width: 100px;
    border-color: #3882F6;
}
.middle-part{
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-text{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    margin: 16px;
}
#container{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 150px;
    gap: 32px;
}
.info{
    max-width: 100%;
    max-height: 100%;
}
.text-block {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}
.author{
    align-self: flex-end;
    margin: 16px;
}